.lock {
    padding-right: var(--scroll-bar, 0);
    overflow: hidden;

}
.lock-padding {
    padding-right: var(--scroll-bar, 0) !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.resize-animation-stopper *:not(.slider__line){
    transition: none !important;
    animation: none !important;
}