.cards {
    padding: var(--cards-padding);
    margin-bottom: 30px;
    // .cards__title
    
    &__title {
        position: relative;
        margin-bottom: 90px;
        @media (max-width: $mobile) {
            margin-bottom: 60px;
        }
    }

    
	// .cards__items
    
	&__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
        gap: var(--gap);
        justify-items: center;        
	}

    // .cards__item

    &__item {
        border-radius: 6px;
        max-width: 350px;
        width: 100%;
        background:var(--color-background-secondary);    
        box-shadow: 0px 2px 5px #0000001a;
        &.aos-init {
        @media (max-width: 611px) {
              -o-transition-property: none !important;
              -moz-transition-property: none !important;
              -ms-transition-property: none !important;
              -webkit-transition-property: none !important;
              transition-property: none !important;
          
              -o-transform: none !important;
              -moz-transform: none !important;
              -ms-transform: none !important;
              -webkit-transform: none !important;
              transform: none !important;
          
              -webkit-animation: none !important;
              -moz-animation: none !important;
              -o-animation: none !important;
              -ms-animation: none !important;
              animation: none !important;
            }
          }
    }
    
    // .cards__info

    &__info{
        padding: 0 30px 28px 30px;
    }
    
    // .cards__img

    &__img{
        border-radius: 8px;
        margin-bottom: 30px;
        width: 100%;
        max-width: 350px;
        object-fit: cover;
    }

    // .cards__subtitle

    &__subtitle {
        font: var(--h3-font);
        margin-bottom: 4px;
    }
    
    // .cards__desc
    
    &__desc{
        font: var(--text-small-font);
        color:var(--color-font-secondary-light);
        margin-bottom: 20px;
    }
    // .cards__text

    &__text {
        font: var(--card-font);
        color:var(--color-font-secondary-light);
        margin-bottom: 20px;
    }
    
}

  