.logo {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #33c759;
}

.burger {
    background-color: #37131300;
    position: relative;
    width: 40px;
    height: 40px;
    border: var(--color-background-accent) solid 1px;
    transition: transform .3s;
    border-radius: 50%;
    // .burger__line

    &__line {
        position: absolute;
        width: 30px;
        height: 2px;
        background: var(--color-background-accent);
        left: 4px;
        border-radius: 10px;
        transform: translateY(-50%);
        transition: transform .3s;

    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background: var(--color-background-accent);
        left: 9px;
        border-radius: 10px;
        transition: transform .3s;

    }

    &::after {
        bottom: 9px;
    }

    &::before {
        top: 9px;
    }

    &:focus-visible {
        box-shadow: 0 0 4px 1px var(--color-background-accent);
    }

    &.burger_active {

        .burger__line {
            opacity: 0;
        }

        &::after,
        &::before {
            top: 50%;
        }

        &::after {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }
    }
}

.button {
    font: var(--text-button--font);
    color: var(--color-font-secondary-light);
    background-color: var(--color-background-secondary);
    text-transform: uppercase;
    border-radius: 30px;
    border: 2px solid #303030;
    min-width: 100px;
    min-height: 40px;
    letter-spacing: 0.2em;
    transition: color .3s, background-color .3s, transform .3s;
    padding: 10px;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-background-accent);
            color: var(--color-font-initial);
            border-color: transparent;
        }
    }

    &:active {
        transform: scale(.96);
    }

    &_active {
        background-color: var(--color-background-accent);
        color: var(--color-font-initial);
    }
}

.text {
    font: var(--text-p-font);
    color: var(--color-font-secondary-light);
}

.title {
    position: relative;
    text-align: center;
    // .title__main

    &__main {
        position: relative;
        font: var(--h2-font);
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: capitalize;
        z-index: 2;
    }

    // .title__decoration

    &__decoration {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        font-weight: 900;
        font-size: 100px;
        line-height: 1.5;
        letter-spacing: 0.1em;
        color: #303030;
        text-transform: uppercase;
        user-select: none;

        @media (max-width: $mobile) {
            font-size: 56px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -28px;
        transform: translateX(-50%);
        width: 60px;
        height: 2px;
        background-color: var(--color-font-accent);
    }
}

.card-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
    gap: var(--gap);
    max-width: 735px;
    margin: auto;

    @media (max-width: $mobile) {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

    }

    // .card-icons__card

    &__card {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    // .card-icons__card-img

    &__card-img {
        margin-bottom: 16px;
    }

    // .card-icons__card-text

    &__card-text {
        margin-bottom: 5px;
    }

    &__small-text {
        flex-grow: 1;
        font: var(--text-small-font);
        color: var(--color-font-secondary-light);
    }
}

.rating {

    // .rating__items

    &__items {
        position: relative;
        width: 100px;
        height: 20px;
        background: url("../img/rating/star-off.svg");
        background-size: 20px 20px;
        background-repeat: repeat-x;
    }

    // .rating__star

    &__star {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        height: 20px;
        font-size: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-size: 20px 23px;
        background-position: 0%;
        background-repeat: repeat-x;

        &:nth-child(1) {
            width: 20px;
            z-index: 5;
        }

        &:nth-child(2) {
            width: 40px;
            z-index: 4;
        }

        &:nth-child(3) {
            width: 60px;
            z-index: 3;
        }

        &:nth-child(4) {
            width: 80px;
            z-index: 2;
        }

        &:nth-child(5) {
            width: 100px;
            z-index: 1;
        }

        &:checked, &:hover  {
            background-image: url("../img/rating/star-on.svg");
        }

        &:hover ~ & {
            background-image: url("../img/rating/star-off.svg");
        }
    }
}