  @font-face {
    font-family: "Helvetica Neue Condensed";
    src: url("../fonts/Helvetica-Neue-Condensed-Bold.woff");
    src:
    local("Helvetica Neue Condensed")
    url("../fonts/Helvetica-Neue-Condensed-Black.woff") format("woff");
    font-weight: 900;
  }
  @font-face {
    font-family: "Helvetica Neue Condensed";
    src: url("../fonts/Helvetica-Neue-Condensed-Bold.woff");
    src:
    local("Helvetica Neue Condensed")
    url("../fonts/Helvetica-Neue-Condensed-Bold.woff") format("woff");
    font-weight: 700;
  }
  @font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneuelt_roman.woff");
    src:
    local("Helvetica Neue")
    url("../fonts/helveticaneuelt_roman.woff") format("woff");
  }
      