.header {
    padding: 21px 0px;
    border-bottom: #fff7 solid 1px;
    position: absolute;
    min-height: 81px;
    width: 100%;

    @media (max-width: $mobile) {
        padding: 20px 0px;

    }

    // .header__container

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 20px 100px;
        align-items: center;

        @media (max-width: $mobileSmall) {
            gap: 20px 20px;
        }
    }

    // .header__logo

    &__logo {
        @media (max-width: $mobile) {
            font-size: 1rem;
            max-width: 202px;
        }

        z-index: 4;
    }

    // .header__svg

    &__svg {
        @media (max-width: $mobile) {
            align-self: center;
        }
    }


    // .header__nav

    &__nav {
        font: var(--text-a-font);
        color: var(--color-font-default);
        transition: top .9s, visibility .9s, opacity .9s;


        @media (max-width: $mobile) {
            display: block;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            position: fixed;
            left: 0px;
            top: -100%;
            z-index: 3;
            overflow: auto;
            padding: 100px;
            background: #0c0c0c;

        }

        @media (max-width: $mobileSmall) {
            padding: 100px 15px;
        }

        &::after {
            content: "";
            position: fixed;
            height: 81px;
            width: 100%;
            opacity: 0;
            transition: all .6s;
            top: -100%;
            left: 0px;
            background: #000;

        }
    }

    // .header__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 20px 45px;


    }

    // .header__item

    &__item {

        transition: color .3s;
        padding: 10px 0;

        &:hover {
            .header__arrow,
            .header__link {
                color: var(--color-font-accent);
                fill: var(--color-background-accent);
            }
        }

    }
    &__item:hover ~ li .header__sub-list{
        visibility: visible;
        opacity: 1;
        transform: translate(0);
    }
    // .header__link

    &__link {
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 5px;
        }

    }

    // .header__arrow

    &__arrow {
        width: 8px;
        fill: var(--color-background-default);
        vertical-align: middle;
        transform: rotate(90deg);
    }

    // .header__sub-list

    &__sub-list {
        visibility: hidden;
        opacity: 0;
        transform: translate(10%);
        background-color: var(--color-background-secondary);
        padding: 25px 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px 19px;
        box-shadow: 0px 2px 5px #0000001a;
        border-radius: 6px;
        position: absolute;
        left: 627px;
        z-index: 2;
        transition: .6s;
    }

    // .header__sun-item

    &__sun-item {}



    // .header__burger

    &__burger {
        @media (min-width: $mobile) {
            display: none;
        }

        z-index: 4;

    }


}


@media (max-width: $mobile) {

    .header__nav.header__nav_active {
        visibility: visible;
        opacity: 1;
        top: 0px;
        left: 0px;

        &::after {
            content: "";
            opacity: 1;
            top: 0;
            left: 0;


        }
    }

    .header__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 20px 45px;
        font-size: 41px;
        text-align: center;
        flex-direction: column;
    }
}