.header {
    padding: 21px 0px;
    border-bottom: #fff7 solid 1px;
    position: absolute;
    z-index: 3;
    min-height: 81px;
    width: 100%;

    @media (max-width: $mobile) {
        padding: 20px 0px;

    }

    // .header__container

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 20px 100px;
        align-items: center;

        @media (max-width: $mobileSmall) {
            gap: 20px 20px;
        }
    }

    // .header__logo

    &__logo {
        @media (max-width: $mobile) {
            font-size: 1rem;
            max-width: 202px;
        }

        z-index: 4;
    }

    // .header__icon

    &__icon {
        @media (max-width: $mobile) {
            align-self: center;
        }
    }

    // .header__nav

    &__nav {
        font: var(--text-a-font);
        color: var(--color-font-default);
        transition: top .9s, visibility .9s, opacity .9s;


        @media (max-width: $tablet) {
            display: block;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            position: fixed;
            left: 0px;
            top: -100%;
            z-index: 3;
            overflow: auto;
            padding: 100px;
            background: #0c0c0c;

        }

        @media (max-width: $mobileSmall) {
            padding: 100px 15px;
        }

        &::after {
            content: "";
            position: fixed;
            height: 81px;
            width: 100%;
            opacity: 0;
            transition: all .6s;
            top: -100%;
            left: 0px;
            background: #000;

        }

        @media (max-width: $tablet) {
            &_active {
                visibility: visible;
                opacity: 1;
                top: 0px;
                left: 0px;

                &::after {
                    content: "";
                    opacity: 1;
                    top: 0;
                    left: 0;


                }
            }
        }
    }

    // .header__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 20px 45px;

        @media (max-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            font-size: 41px;
            text-align: center;
            flex-direction: column;
        }

        @media (max-width: $mobile) {
            font-size: 26px;
        }
    }

    // .header__item

    &__item {
        transition: color .3s;
        padding: 10px 0;
        position: relative;

        &:hover .header__button,
        &:hover .header__link,
        &:hover .header__arrow {
            fill: var(--color-font-accent);
            color: var(--color-font-accent);
        }
        

        @media (min-width: $tablet) {
            &:hover .header__dropdown {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
                transform: translate3d( calc(-50% - .1em), 0%, 0px);
                transition: opacity .6s, visibility .6s, transform .6s;

            }
        }
    }

    // .header__button

    &__button {
        cursor: pointer;
        background: unset;
        color: var(--color-font-default);
        &:focus-visible,
        &:focus-visible .header__arrow {
            color: var(--color-font-accent);
            fill: var(--color-font-accent);
        }
        @media (max-width: $tablet) {
            margin: auto;
        }
    }

    // .header__link

    &__link {
        cursor: pointer;
        &:focus-visible,
        &:focus-visible ~ .header__arrow {
            color: var(--color-font-accent);
            fill: var(--color-font-accent);
        }
    }

    // .header__dropdown

    &__dropdown {
        visibility: hidden;
        opacity: 0;
        background-color: var(--color-background-secondary);
        box-shadow: 0px 2px 5px #0000001a;
        border-radius: 6px;
        margin: auto;
        width: max-content;
        max-width: 305px;
        pointer-events: none;

      

        @media (min-width: $tablet) {
            padding: 25px 15px;
            position: absolute;
            left: 50%;
            top: 35px;
            transform: translate3d( calc( -50% - .1em), 10%, 0px);
            transition: opacity .6s, visibility .6s, transform .6s;
            overflow: auto;
            &_active {
                transform: translate3d(calc( -50% - .1em), 0%, 0px);
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }
        }

        @media (max-width: $tablet) {
            transition: opacity 1s, visibility 1s, grid-template-rows 1s;
            display: grid;
            grid-template-rows: 0fr;
            overflow: hidden;
            width: auto;
            max-width: 500px;
            
            &_active {
            position: relative;
            transition: grid-template-rows 1s;
            visibility: visible;
            opacity: 1;
            pointer-events: all;
            grid-template-rows: 1fr;
            }

        }
    }

    // .header__sub-list

    &__sub-list {
        min-height: 0;

        @media (max-width: $tablet) {
            transition: padding 1s;
            
            .header__dropdown_active & {
                padding: 25px 15px;
            }
        }
    }

    // .header__sub-item

    &__sub-item {

        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    // .header__sub-link

    &__sub-link {
        letter-spacing: .1em;
        &:hover {
            color: var(--color-font-accent);
        }
    }



    // .header__arrow

    &__arrow {
        width: 17px;
        height: 15px;
        fill: var(--color-background-default);
        vertical-align: middle;

        @media (max-width: $tablet) {
            width: 25px;
            height: 28px;
        }
    }


    // .header__burger

    &__burger {
        @media (min-width: $tablet) {
            display: none;
        }

        z-index: 4;

    }
}