.recipes {

    padding: var(--recipes-padding);
    margin-bottom: 30px;

    // .recipes__container

    &__container {}

    // .recipes__title

    &__title {
        margin-bottom: 92px;
        @media (max-width: $mobile) {
         margin-bottom: 60px;
        }
    }
    
    // .recipes__cards
    
    &__cards {
        display: grid;
        gap: var(--gap);
        grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));   
        }
    }
    
    // .recipes__card
    
    &__card {
        padding: 30px;
        background-color: var(--color-background-secondary);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        grid-column-end: span 6;

        // .recipes__card_big
    
        &_big {
            background: url("../img/recipes/image.png") no-repeat 50% / cover;
            padding: 60px 60px 60px 60px;
            grid-row-end: span 3;
            text-align: center;
        }
    }

    // .recipes__text

    &__text {
        font: var(--text-p-font);
        margin-bottom: 10px;
        &_big {
            margin-bottom: 45px;
            font-size: 21px;
        }
    }

    // .recipes__info

    &__info {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 60px;
        justify-content: space-between;
        align-items: center;
    }

    // .recipes__details

    &__details {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    // .recipes__type

    &__type {

        background-color: var(--color-background-initial);
        font: var(--text-button--font);
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        padding: 5px 5px;
        border-radius: 6px;
        &_big {
            margin-bottom: 65px;
            display: inline-block;
        }
    }

    // .recipe__chef

    .recipe__chef{
        font: var(--card-font);
        margin-bottom: 65px;
    }

    // .recipes__data

    &__data {
        font: var(--text-small-font);
        
        &_big {
            margin-bottom: 25px;
        }
    }

    // .recipes__stats

    &__stats {
        font: var(--text-button--font);
        display: flex;
        gap: 24px;

        &_big {
            justify-content: center;
        }
    }

    // .recipes__stat

    &__stat {
        display: flex;
        gap: 6px 12px;
        align-items: center;
    }

    // .recipes__visibility

    &__visibility {}

    // .recipes__comment

    &__comment {}

}



   